rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{id} {
      allow read: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level < 3;
      allow create: if false;
      allow update: if resource.data.uid == request.auth.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level == 0;
      allow delete: if false;
    }
    match /site/{document=**}{
    	allow read : if true;
      allow write : if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level == 0;
    }
    match /products/{document=**}{
      allow read : if true;
      allow write : if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level == 0;
    }
    match /carts/{document=**}{
      allow read : if resource.data.uid == request.auth.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level == 0;
      allow write : if resource.data.uid == request.auth.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level == 0;
    }
   
  }
}